// TODO
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  width: 1190px;
}

.previewButton {
  width: 700px;
  height: 58px;
  border: 0;
  background-color: #F8F8F8;
  color: #000000;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  margin: 20px auto;

  &:hover {
    filter: brightness(0.9);
  }
}
