// TODO
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.posts{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 48px;

  a {
    align-self: flex-start;

    strong {
      font-size: 28px;
      font-weight: 800;
    }

    p {
      font-size: 18px;
      color: var(--gray-200);
      margin-top: 8px;
      margin-bottom: 24px;
    }

    time svg, span svg {
      margin-right: 0.5rem;
    }

    time {
      margin-right: 26px;
    }
  }
}


.morePosts {
  font-size: 18px;
  font-weight: 600;
  color: var(--shock-pink-100);
  align-self: flex-start;
  border: 0;
  background-color: transparent;
}
