// TODO
.info {
  time svg, span svg {
    margin-right: 0.5rem;
  }

  time, span{
    margin-right: 26px;
  }
}

.postTitle {
  font-size: 48px;
  font-weight: 700;
  color: var(--gray-100);
  letter-spacing: -0.5px;
  line-height: 58px;
  margin-top: 80px;
  margin-bottom: 24px;
}

.postBanner {
  width: 100%;
  height: 400px;
  background-size: cover;
}

.postContentTitle {
  font-size: 2rem;
  font-weight: 900;
  margin-top: 1.5rem;
}

.postContent {
  margin-top: 2rem;
  line-height: 2rem;
  font-size: 1.125rem;
  color: var(--gray-50);

  p, ul {
    margin: 1.5rem 0;
  }

  a {
    color: var(--shock-pink-100);
  }

  ul {
    padding-left: 1.5rem;

    li {
      margin: 0.5rem 0;
    }
  }
}
